@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.google.com/specimen/Spartan");

* {
  font-size: 12;
}

body {
  background-color: var(--grey-10);
  font-size: 15px !important;
  font-family: Spartan, Verdana, sans-serif;
}

main {
  z-index: 10;
}

:root {
  --primary: hsl(180, 29%, 50%);

  --grey-10: hsl(180, 52%, 96%);
  --grey-50: hsl(180, 31%, 95%);
  --grey-100: hsl(180, 8%, 52%);
  --grey-200: hsl(180, 14%, 20%);

  --black: #000;
  --white: #fff;

  --bd-desktop: "/images/bg-header-desktop.svg";
}
